.container-xl {
  min-height: 100vh;
  background:  
            linear-gradient(336deg, var(--dark-04), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 255, 0, 0.396), rgba(0,255,0,0) 70.71%),
            linear-gradient(217deg, var(--bg-green), rgba(0,0,255,0) 70.71%);
  div h1 {
    font-size: 5em;
  }
  .form {
    width: 23rem;
    background-color: var(--dark-01);
    border-radius: 10px;
    border: 1px solid var(--white) ;
  }
}

.title {
  color: var(--bg-green);
  text-align: center;
}

span {
  transition: all .3s;
}

.portfolio {
  text-decoration: none;
  transition: all .3s;
}

span:hover, .portfolio:hover {
  color: var(--bg-green) !important;
  cursor: pointer;
}

.loading {
  width: 15px;
  height: 15px;
  margin: 0 1.2rem;
}

@media screen and (max-width: 980px){
  .container-xl {
    min-height: 100vh;
    div h1 {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 480px){
  .container-xl {
    min-height: 100vh;
    div h1 {
      font-size: 2.5em;
    }
    .form {
      width: 90vw;
    }
  
  }
}