<div class="prod-modal">
  <div class="modal-header">
    <h2>Agregar nuevos productos</h2>
  </div>
  <div class="modal-body">
    <input type="text" class="w-100 md-w-50 input mb-3" placeholder="Nombre">
    <input type="number" class="w-100 md-w-50 input mb-3" placeholder="Precio">
    <input type="number" class="w-100 md-w-50 input mb-3" placeholder="Elaboración">
    <input type="number" class="w-100 md-w-50 input mb-3" placeholder="Cantidad">
    <div class="d-flex justify-content-end">
      <button class="prod-btn prod-btn-secondary">Cancelar</button>
      <button class="prod-btn prod-btn-primary mx-2">Guardar</button>
    </div>
  </div>
</div>
