
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inventory-web-primary: mat.define-palette(mat.$indigo-palette);
$inventory-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inventory-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inventory-web-theme: mat.define-light-theme((
  color: (
    primary: $inventory-web-primary,
    accent: $inventory-web-accent,
    warn: $inventory-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($inventory-web-theme);

/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --bg-black: #0F171A;
  --bg-green: #36DB70;
  --dark-01: #141E22;
  --dark-02: #1A262D;
  --dark-03: #283943;
  --dark-04: #2E414D;
  --dark-green: #1cbf55;
  --white: #FDFDFD;
  --orange: #ffaa00;
  --blue: #00aaff;
  --dark-blue: #0086c3;
}


*::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-black) !important;
  color: var(--white);
}

.input {
  height: 2.4rem;
  border-radius: 5px;
  border: 1px solid var(--dark-04);
  background-color: var(--dark-03);
  padding: 0 .5rem;
  color: var(--white);
}
.prod-btn {
  padding: .5rem 1.2rem;
  border-radius: 12px;
  transition: all .3s;
  border: none;
  font-size: 13px;
}

.prod-btn-primary {
  background-color: var(--bg-green);
  color: var(--white);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--dark-green);
  }
  &:disabled {
    border: 1px solid var(--bg-green);
    background-color: transparent;
    color: var(--bg-green);
  }
}

.prod-btn-tertiary {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--dark-blue);
  }
  &:disabled {
    border: 1px solid var(--blue);
    background-color: transparent;
    color: var(--dark-04);
  }
}

.prod-btn-secondary {
  background-color: var(--dark-04);
  color: var(--white);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--dark-03);
  }
  &:disabled {
    border: 1px solid var(--dark-04);
    background-color: var(--bg-black);
    color: var(--dark-04);
  }
}

.prod-modal {
  border: 1px solid var(--white);
  background-color: var(--bg-black);
  border-radius: 10px;
  .modal-header {
    width: 100%;
    border-bottom: 1px solid var(--dark-03);
    padding: 1rem;
    color: var(--bg-green);
    h2 {
      width: 100%;
      text-align: center;
    }
  }
  .modal-body {
    padding: 1.5rem;
    color: var(--white);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// General styles:
.container {
  .options {
    min-height: 3.5rem;
    border: 1px solid var(--dark-04);
    border-radius: 10px;
    .filter form {
      position: relative;
      img {
        position: absolute;
        z-index: 2;
        width: 25px;
        top: .45rem;
        left: .3rem;
        opacity: .5;
      }
    }
    .actions {
      gap: .5rem;
    }
  }
  .prod-container {
    height: 80vh;
    overflow-y: auto;
    justify-content: center;
    .product {
      margin: 0 .2rem;
      position: relative;
      min-height: 6rem;
      border: 1px solid var(--dark-04);
      border-radius: 10px;
      transition: all .3s;
      cursor: pointer;
      .image {
        padding-inline: 1rem;
        border-radius: 10px;
        .img {
          border-radius: 10px;
          object-fit: cover;
          width: 70px;
          height: 70px;
        }
      }
      .info {
        display: flex;
        .description {
          h2 {
            color: white;
            text-overflow: ellipsis;
          }
          p {
            color: gray;
            span {
              background-color: transparent;
              padding: .3rem .5rem;
              border-radius: 8px;
              margin-right: .5rem;
              font-size: 12px;
            }
          }
        }
        .price {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            color: gray;
            margin: 0;
          }
          h3 {
            color: white;
          }

        }


      }
      .menu {
        h3 {
          z-index: 3;
          text-align: end;
          color: var(--white);
          cursor: pointer;
        }
      }
      &:hover {
        background-color: var(--dark-03);
      }
    }
  }


}

.available {
  border: 1px solid var(--bg-green);
  background-color: transparent;
  color: var(--bg-green);
}

.defective {
  border: 1px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}

.shipped {
  border: 1px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
}

.selected {
  background-color: var(--dark-03);
  border: 1px solid var(--bg-green) !important;
}

.disabled-prod {
  color: gray !important;
  background-color: var(--dark-02);
  cursor: default !important;
  &:hover {
    background-color: var(--dark-02) !important;
  }
}
