
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inventory-web-primary: mat.define-palette(mat.$indigo-palette);
$inventory-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inventory-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inventory-web-theme: mat.define-light-theme((
  color: (
    primary: $inventory-web-primary,
    accent: $inventory-web-accent,
    warn: $inventory-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($inventory-web-theme);

/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --bg-black: #0F171A;
  --bg-green: #36DB70;
  --dark-01: #141E22;
  --dark-02: #1A262D;
  --dark-03: #283943;
  --dark-04: #2E414D;
  --dark-green: #1cbf55;
  --white: #FDFDFD;
  --orange: #ffaa00;
  --blue: #00aaff;
}


*::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-black) !important;
  color: var(--white);
}

.input {
  height: 2.4rem;
  border-radius: 5px;
  border: 1px solid var(--dark-04);
  background-color: var(--dark-03);
  padding: 0 .5rem;
  color: var(--white);
}
.prod-btn {
  padding: .5rem 1.2rem;
  border-radius: 12px;
  transition: all .3s;
  border: none;
  font-size: 13px;
}

.prod-btn-primary {
  background-color: var(--bg-green);
  color: white;
  &:hover {
    background-color: var(--dark-green);
  }
  &:disabled {
    border: 1px solid var(--bg-green);
    background-color: transparent;
    color: var(--bg-green);
  }
}
.prod-btn-secondary {
  background-color: var(--dark-04);
  color: var(--white);
  &:hover {
    background-color: var(--dark-03);
  }
  &:disabled {
    border: 1px solid var(--dark-04);
    background-color: var(--bg-black);
    color: var(--dark-04);
  }
}

.prod-modal {
  border: 1px solid var(--white);
  background-color: var(--bg-black);
  border-radius: 10px;
  .modal-header {
    width: 100%;
    border-bottom: 1px solid var(--dark-03);
    padding: 1rem;
    color: var(--bg-green);
    h2 {
      width: 100%;
      text-align: center;
    }
  }
  .modal-body {
    padding: 1.5rem;
    color: var(--white);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
