.loading {
  width: 45px;
  height: 45px;
  margin: 0 1.2rem;
}

.mat-snack-bar-container {
  background-color: var(--bg-green) !important;
  color: white !important;
}

@media screen and (max-width: 980px) {
  .prod-container {
    .product {
      .image {
        .img {
          width: 80px !important;
          height: 80px !important;
        }
      }
      .info {

      }
      .menu {

      }
    }
  }
}

@media screen and (max-width: 767px) {
  .prod-container {
    .product {
      .image {
        .img {
          width: 120px !important;
          height: 120px !important;
        }
      }
      .info {
        padding-top: .5rem;

      }
      .menu {
        position: absolute;
        right: .5rem;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .actions {
    flex-wrap: wrap;
    button {
      width: 100%;
      height: 2.7rem;
    }
  }

  .menu {
    position: absolute;
    right: .5rem;
    top: 0;
  }
}
