<div class="navbar bg-success w-100 px-3 py-1 d-flex justify-content-between">
  <h4 class="text-white">Your Inventary</h4>
  <button class="prod-btn prod-btn-primary" (click)="logout()">Salir</button>
</div>
<div class="container w-100 py-5">
  <div class="options row mb-4 flex justify-content-start align-items-center mx-1">
    <div class="filter col-12 col-lg-6 mb-md-0">
      <form [formGroup]="form" class="w-100 my-3 my-lg-0">
        <input type="text" formControlName="searchInput" class="w-100 md-w-50 input" placeholder="Buscar por nombre" >
      </form>
    </div>
    <div class="actions col-12 col-lg-6 d-flex justify-content-end mb-3 mb-lg-0">
      <button class="prod-btn prod-btn-secondary" [disabled]="!isSomeoneSelected" (click)="markAsDefectives()">Marcar defectuosos</button>
      <button class="prod-btn prod-btn-secondary" [disabled]="!isSomeoneSelected" (click)="markAsShipped()">Marcar enviados</button>
      <button class="prod-btn prod-btn-primary" (click)="addProduct()">+ Agregar</button>
    </div>
  </div>
  <div *ngIf="isLoadingProducts" class="w-100 d-flex justify-content-center align-items-center p-6">
    <img class="loading" 
        src="https://i.gifer.com/origin/b4/b4d657e7ef262b88eb5f7ac021edda87.gif" alt="loader">
  </div>
  <div *ngIf="!isLoadingProducts && products.length === 0" 
    class="w-100 d-flex justify-content-center align-items-center p-6">
    <h5 class="text-white">No hay productos registrados</h5>
  </div>
  <div *ngIf="!isLoadingProducts && products.length > 0" class="prod-container w-100 flex-wrap">
    <div *ngFor="let product of products" class="product row align-items-center mb-3"
      [ngClass]="product?.status !== 1 ? 'disabled-prod': 
      productIdList.includes(product.id) ? 'selected':''" (click)="selectProduct(product)">
      <div class="image col-4 col-md-2 col-lg-1">
        <img class="img" [src]="product?.imageUrl" (error)="onImageError($event)" alt="image">
      </div>
      <div class="info col-8 col-md-9 col-lg-10 row mx-0">
        <div class="description col-12 col-md-8">
          <h2 class="color-white">{{ product?.name }}</h2>
          <p>
            <span [ngClass]="product?.status === 1 ? 'available': 
              product?.status === 2 ? 'defective': 
              product?.status === 3 ? 'shipped': ''">
              {{ 
                product?.status === 1 ? 'Disponible':
                product?.status === 2 ? 'Defectuoso': 
                  product?.status === 3 ? 'Enviado' : '' }}
            </span>
            {{ product?.elaboration === 1 ? 'Hecho a mano': 
              product?.elaboration === 2 ?'Hecho con maquinaria' : ''}}
          </p>
        </div>
        <div class="price col-12 col-md-4">
          <p>Precio:</p>
          <h3>{{product?.price | currency }}</h3>
        </div>
      </div>
      <div class="menu col-1">
        <h3 (click)="updateProductInfo(product)" title="Editar Producto">...</h3>
      </div>
    </div>
  </div>
  
</div>
